@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #37a69b;
  --secondary-color: #4ebf9f;
  --accent-color: #ff8b00;
  --dark-color: #0d2624;
  --light-background: #e9f2f1;
  --hover-color: #62d9a1;
  --text-color: #0d2624;
  --white: #fff;
  --font-logo: "Montserrat", sans-serif;
  --font-header: "Montserrat", sans-serif;
  --font-body: "Nunito", sans-serif;
  --border-radius: 4px;
  --box-shadow: 0 4px 6px #0006;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;

  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;

  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;

  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;

  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 10% 3.9%;

  --radius: 0.5rem;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

/* Use Nunito for specific elements */
h1,
h2 {
  font-family: var(--font-nunito), sans-serif;
}
